<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="LIVE | RT006 - Aladdin | ALADDIN" value="https://www.aladdintravel.co.il/aladdapi/RequestListenerServlet"/>
    <add key="LIVE | RT007 - Octopus Australia | OCTAU" value="https://www.travelcube.com/auaffiliatesapi/RequestListenerServlet"/>
    <add key="LIVE | RT008 - GTA Retail Japan | RBSJP" value="https://rbs.gta-travel.com/rbsjpapi/RequestListenerServlet"/>
    <add key="LIVE | RT010 - WBS | WBS" value="https://rs.gta-travel.com/wbsapi/RequestListenerServlet"/>
    <add key="LIVE | RT012 - Octopus Retail Australia | RBSAU" value="https://www.travelcube.com/tcubeauapi/RequestListenerServlet "/>
    <add key="LIVE | RT013 - GTA Retail Singapore | RBSRS" value="https://rbs.gta-travel.com/rbsrsapi/RequestListenerServlet"/>
    <add key="LIVE | RT014 - GTA Retail Korea | RBSKR" value="https://rbs.gta-travel.com/rbskrapi/RequestListenerServlet"/>
    <add key="LIVE | RT015 - GTA Retail Middle East | RBSEM" value="https://rbs.gta-travel.com/rbsemapi/RequestListenerServlet"/>
    <add key="LIVE | RT016 - Travelcube UK | RBSUK" value="https://www.travelcube.com/tcubeukapi/RequestListenerServlet "/>
    <add key="LIVE | RT017 - GTA Retail Thailand | RBSTH" value="https://rbs.gta-travel.com/rbsthapi/RequestListenerServlet"/>
    <add key="LIVE | RT018 - Travelcube Italy | RBSIT" value="https://www.travelcube.com/tcubeitapi/RequestListenerServlet"/>
    <add key="LIVE | RT019 - GTA Retail Hong Kong | RBSHK" value="https://rbs.gta-travel.com/rbshkapi/RequestListenerServlet"/>
    <add key="LIVE | RT020 - GTA Retail Taiwan | RBSTW" value="https://rbs.gta-travel.com/rbstwapi/RequestListenerServlet"/>
    <add key="LIVE | RT024 - GBS Consumer Japan | GBSJP" value="https://gbs.gta-travel.com/gbsjpapi/RequestListenerServlet"/>
    <add key="LIVE | RT026 - GTA Retail USA | RBSUS" value="https://rbs.gta-travel.com/rbsusapi/RequestListenerServlet"/>
    <add key="LIVE | RT027 - Octopus XML | OCTXML" value="https://interface.octopustravel.com/octapi/RequestListenerServlet"/>
    <add key="LIVE | RT028 - GTA XML | GTAXML" value="https://interface.gta-travel.com/gtaapi/RequestListenerServlet"/>
    <add key="LIVE | RT029 - TravelCube - GBS | RBSGB" value="https://www.travelcube.com/tcubegbsapi/RequestListenerServlet "/>
    <add key="LIVE | RT030 - Octopus Spain | OCTES" value="https://interface.octopustravel.com/030api/RequestListenerServlet"/>
    <add key="LIVE | RT034 - GTA Retail Canada | RBSCA" value="https://rbs.gta-travel.com/rbscaapi/RequestListenerServlet"/>
    <add key="LIVE | RT035 - Staff | STAFF" value="https://staff.gta-travel.com/035api/RequestListenerServlet"/>
    <add key="LIVE | RT036 - GTA Retail India | RBSIN" value="https://rbs.gta-travel.com/rbsinapi/RequestListenerServlet"/>
    <add key="LIVE | RT037 - Travelcube Spain | RBSES" value="https://www.travelcube.com/tcubeesapi/RequestListenerServlet"/>
    <add key="LIVE | RT041 - GTA Retail China | RBSCN" value="https://rbs.gta-travel.com/rbscnapi/RequestListenerServlet"/>
    <add key="LIVE | RT042 - GTA Retail Inbound Thailand | IBSTH" value="https://ibs.gta-travel.com/ibsthapi/RequestListenerServlet"/>
    <add key="LIVE | RT043 - GBS Consumer North America | GBSNA" value="https://gbs.gta-travel.com/gbsnaapi/RequestListenerServlet"/>
    <add key="LIVE | RT044 - RBS Travelbound | RBSTB" value="https://rbs.booktravelbound.com/rbstbapi/RequestListenerServlet"/>
    <add key="demo | RT006 - ALADDIN | Aladdin" value= "https://interface.demo.gta-travel.com/aladdapi/RequestListenerServlet"/>
    <add key="demo | T007 - OCTAU | Octopus Australia" value= "https://www.travelcube.com/auaffiliatesapi/RequestListenerServlet"/>
    <add key="demo | RT008 - RBSJP | GTA Retail Japan" value= "https://interface.demo.gta-travel.com/rbsjpapi/RequestListenerServlet"/>
    <add key="demo | RT010 - WBS | WBS" value= "https://interface.demo.gta-travel.com/wbsapi/RequestListenerServlet"/>
    <add key="demo | RT012 - RBSAU | Octopus Retail Australia" value= "https://interface.demo.gta-travel.com/tcubeauapi/RequestListenerServlet"/>
    <add key="demo | RT013 - RBSRS | GTA Retail Singapore" value= "https://interface.demo.gta-travel.com/rbsrsapi/RequestListenerServlet"/>
    <add key="demo | RT014 - RBSKR | GTA Retail Korea" value= "https://interface.demo.gta-travel.com/rbskrapi/RequestListenerServlet"/>
    <add key="demo | RT015 - RBSEM | GTA Retail Middle East" value= "https://interface.demo.gta-travel.com/rbsemapi/RequestListenerServlet"/>
    <add key="demo | RT016 - RBSUK | Travelcube UK" value= "https://interface.demo.gta-travel.com/tcubeukapi/RequestListenerServlet"/>
    <add key="demo | RT017 - RBSTH | GTA Retail Thailand" value= "https://interface.demo.gta-travel.com/rbsthapi/RequestListenerServlet"/>
    <add key="demo | RT018 - RBSIT | Travelcube Italy" value= "https://interface.demo.gta-travel.com/tcubeitapi/RequestListenerServlet"/>
    <add key="demo | RT019 - RBSHK | GTA Retail Hong Kong" value= "https://interface.demo.gta-travel.com/rbshkapi/RequestListenerServlet"/>
    <add key="demo | RT020 - RBSTW | GTA Retail Taiwan" value= "https://interface.demo.gta-travel.com/rbstwapi/RetrieveListenerServlet"/>
    <add key="demo | RT024 - GBSJP | GBS Consumer Japan" value= "https://interface.demo.gta-travel.com/gbsjpapi/RequestListenerServlet"/>
    <add key="demo | RT026 - RBSUS | GTA Retail USA" value= "https://interface.demo.gta-travel.com/rbsusapi/RequestListenerServlet"/>
    <add key="demo | RT027 - OCTXML | Octopus XML" value= "https://interface.demo.octopustravel.com/octapi/RequestListenerServlet"/>
    <add key="demo | RT028 - GTAXML | GTA XML" value= "https://interface.demo.gta-travel.com/gtaapi/RequestListenerServlet"/>
    <add key="demo | RT029 - RBSGB | TravelCube - GBS" value= "https://interface.demo.gta-travel.com/tcubegbsapi/RequestListenerServlet  "/>
    <add key="demo | RT031 - RBSIL | Retail Aladdin" value= "http://interface.demo.gta-travel.com/rbsilapi/RequestListenerServlet"/>
    <add key="demo | RT034 - RBSCA | GTA Retail Canada" value= "https://interface.demo.gta-travel.com/rbscaapi/RequestListenerServlet"/>
    <add key="demo | RT035 - STAFF | Staff" value= "https://interface.demo.gta-travel.com/035api/RequestListenerServlet"/>
    <add key="demo | RT036 - RBSIN | GTA Retail India" value= "https://interface.demo.gta-travel.com/rbsinapi/RequestListenerServlet"/>
    <add key="demo | RT037 - RBSES | Travelcube Spain" value= "https://interface.demo.gta-travel.com/tcubeesapi/RequestListenerServlet"/>
    <add key="demo | RT041 - RBSCN | GTA Retail China" value= "https://interface.demo.gta-travel.com/rbscnapi/RequestListenerServlet"/>
    <add key="demo | RT042 - IBSTH | GTA Retail Inbound Thailand" value= "https://interface.test.gta-travel.com/ibsthapi/RequestListenerServlet"/>
    <add key="demo | RT043 - GBSNA | GBS Consumer North America" value= "https://interface.demo.gta-travel.com/gbsnaapi/RequestListenerServlet"/>
    <add key="demo | RT044 - RBSTB | RBS Travelbound" value= "https://interface.demo.gta-travel.com/rbstbapi/RequestListenerServlet"/>
  </appSettings>
</configuration>